<div class="wrapper">
	<%= render 'navbar' %>
	<div class="about-banner">
		<%= image_tag "about.jpg", :class=>"img-responsive about-image" %>
		<!-- <h1><b>Hands Together</b></h1> -->
	</div>

	<section>
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-lg-12">
					<div class="page-headings">
						<h1><b>About Us</b></h1>
					    <div class="bottom-line"></div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="about-section-one">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-lg-12">
					<div class="about-text">
						<p><span>GCN Broadband</span> offers high-speed data, voice and video services through the Internet. Primarily, it offers high speed Internet services to residential, corporate and SME customers. For corporate and SME customers GCN offers dedicated leased line to enable them to send huge amounts of data. Discover our most popular and low-cost way to get a reliable, High speed Internet connection for you, with speeds up to 100 Mbps. We manage traffic on our network to keep things fast and try to make it fair so our business customers get the best performance when they need it most.</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	
	<section class="about-section-two">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-lg-6">
					<div class="about-inner-content">
						<i class="fa fa-eye fa-5x" aria-hidden="true"></i>
						<h2>Vision</h2>
						<p>GCN BROADBAND PVT LTD is aiming at becoming the largest networking service provider in India. Internet is no longer a luxury commodity instead a necessity...</p>
						<div><a href="javascript:void(0)" class="btn btn-sm btn-raised btn-danger">Read More</a></div>
					</div>
				</div>
				<div class="col-md-6 col-lg-6">
					<div class="about-inner-content">
						<i class="fa fa-shield fa-5x" aria-hidden="true"></i>
						<h2>Mission</h2>
						<p>“High speed internet with the lowest cost and almost zero Breakdown” We have a mission to be the best network service provider with prices as low as it can...</p>
						<div><a href="javascript:void(0)" class="btn btn-sm btn-raised btn-danger">Read More</a></div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 col-lg-6">
					<div class="about-inner-content">
						<i class="fa fa-usd fa-5x" aria-hidden="true"></i>
						<h2>Values</h2>
						<p>Empathy for Customers We offer superior quality of networking services and deal with our competitors fairly. We are genuinely interested in our customers’...</p>
						<div><a href="javascript:void(0)" class="btn btn-sm btn-raised btn-danger">Read More</a></div>
					</div>
				</div>
				<div class="col-md-6 col-lg-6">
					<div class="about-inner-content">
						<i class="fa fa-heart fa-5x" aria-hidden="true"></i>
						<h2>Honesty</h2>
						<p>At GCN BROADBAND PVT LTD we believe that Honesty is the highest form of intimacy, we have maintained honesty and transparency in our ...</p>
						<p><div><a href="javascript:void(0)" class="btn btn-sm btn-raised btn-danger">Read More</a></div></p>
					</div>	
				</div>
			</div>
		</div>
	</section>

	<section>
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-lg-12">
					
				</div>
			</div>
		</div>
	</section>
	

</div>
<div class="bottom-fix"></div>
