<div class="wrapper">
	<%= render 'navbar' %>
	<div class="about-banner">
		<%= image_tag "customerservice.jpg", :class=>"img-responsive about-image" %>
		<h4>Get in touch with us</h4>
	</div>

	<section>
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-lg-12">
					<div class="page-headings">
					<h1><b>Contact Us</b></h1>
						<div class="bottom-line"></div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section>
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-lg-12">
					<div class="contact-area">
						<div class="col-md-4">
							<div class="location-form">
								<div class="form-group">
									<select id="contactlist" class="form-control">
										<option value="a">Apple fritter</option>
										<option value="b">Croissant</option>
										<option value="c">Donut</option>
										<option value="d">Financier</option>
										<option value="e">Jello</option>
										<option value="f">Madeleine</option>
										<option value="g">Pound cake</option>
										<option value="h">Pretzel</option>
										<option value="i">Sfogliatelle</option>
									</select>
									<i class="fa fa-map-marker fa-2x" aria-hidden="true"></i>
								</div>
							</div>
						</div><!--selector -->
						<div class="col-md-8">
							<div class="select-block pane-1"><h1>one</h1></div>
							<div class="select-block pane-2"><h1>two</h1></div>
							<div class="select-block pane-3"><h1>three</h1></div>
							<div class="select-block pane-4"><h1>four</h1></div>
							<div class="select-block pane-5"><h1>five</h1></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
<div class="bottom-fix"></div>