<div class="wrapper">

	<%= render 'navbar' %>
	<div class="container">
		<div id="banner_slider">
		  <div class="slide-1">
		    <div class="blur"></div>
		  </div>
		  <div class="slide-2">
		    <div class="blur"></div>
		  </div>
		  <div class="slide-3">
		    <div class="blur"></div>
		  </div>
		  <div class="slide-4">
		    <div class="blur"></div>
		  </div>
		  <div class="slide-5">
		    <div class="blur"></div>
		  </div> 
		</div><!-- <div id="banner_slider"> -->
	</div>

</div>
<div class="home-footer"></div>
<div class="wrapper-two">
	<section class="index-section">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class="text-center"><i class="fa fa-globe fa-5x" aria-hidden="true"></i></i></div>
					<h1 class="text-center">Welcome to GCN Broadband</h1>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-8 col-lg-7">
					<p class="gcn-headlines">GCN Broadband offers high-speed data, voice and video services through the Internet. Primarily, it offers high speed Internet services to residential, corporate and SME customers. For corporate and SME customers GCN offers dedicated leased line to enable them to send huge amounts of data. Discover our most popular and low-cost way to get a reliable, High speed Internet connection for you, with speeds up to 100 Mbps. We manage traffic on our network to keep things fast and try to make it fair so our business customers get the best performance when they need it most.</p>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-4 col-lg-5">
					<%= image_tag "highspeed1.png", :class=>"img-responsive high-speed" %>
				</div>
			</div>
		</div>
	</section>
</div>
